<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./public/style.css">
    <link rel="stylesheet" href="./public/css/home.css">
    <title>TrashFlow</title>
</head>

<body>
    <div id="home" class="container">
        <header>
            <div class="logo">
                <img src="./public/TrashflowLogo 2.png" alt="">
            </div>
            <div class="navbar">
                <ul>
                    <li>Quem somos</li>
                    <li>Ideias de Reciclagem</li>
                    <li>Empresas cadastradas</li>
                    <li>Contato</li>
                </ul>
            </div>

            <div class="btn">
                <select id="options" name="options">
                    <option value="maca">Entrar</option>
                    <option value="banana">Cadastrar</option>
                    <option value="laranja">Deslogar</option>
                </select>
            </div>
        </header>


        <div class="content">
            <h1>
                Encontre locais para descarte correto de recicláveis e inspire-se com ideias criativas para reaproveitar
                materiais e reduzir impactos ambientais.
            </h1>

            <div class="main">
                <div class="text">
                    <h2 class="text-item">Acessar locais de empresas</h2>
                    <h2 class="text-item"> Acessar ideias recicláveis</h2>
                </div>

                <div class="image">
                    <img src="./public//RECICLOOO 1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</body>

</html>